@model EventManagement.Areas.EventManagement.Models.EventManagementClient
<section class="content-header">
    <h1>
        Update Event Client
        <small>editing new event client information</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("#")"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-md-6 col-sm-8">
                    @using (Html.BeginForm("EditEventClient", "EventManagementData", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label class="col-form-label">Event Client Code</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" required value="@Model.ClientCode" readonly="readonly" class="form-control" name="ClientCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Client Name EN</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" required value="@Model.ClientNameEN" class="form-control" name="ClientNameEN">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Client Name AR</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" required value="@Model.ClientNameAR" class="form-control" name="ClientNameAR">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Client Tax Registration Number.</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" required value="@Model.TaxRegNumber" class="form-control" name="TaxRegNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Client Mobile Num.</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" required value="@Model.ClientContactInfo" class="form-control" name="ClientContactInfo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Client Address</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <textarea class="form-control" required name="ClientAddress">@Model.ClientAddress</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" value="submit" class="btn btn-primary"><i class="fa fa-edit"></i> CLIENT UPDATE</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>